*{
    box-sizing: border-box;
}
body {
    background-color: #0B2434;
    margin: 0;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

main {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 400px;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.die-face {
    border-radius: 10px;
}
.dice {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 12px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 4px;
}

.die-num {
    font-size: 2rem;
}

.roll-dice{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus{
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.dot {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
  }


.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    justify-content: space-between;
}

.second .dot:nth-last-of-type(2) {
    align-self: flex-end;
}

.third {
    display: flex;
    justify-content: space-between;
}

.third .dot:nth-last-of-type(1) {
    align-self: flex-end;
}

.third .dot:nth-last-of-type(2) {
    align-self: center;
}

.fourt, .fifth, .sixth {
    display: flex;
    justify-content: space-between;
}

.fourt .column, .fifth .column, .sixth- .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fifth .column:nth-last-of-type(2) {
    justify-content: center;
}
